<header>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <div style="width: 120px;">
        <a class="navbar-brand" href="/users/tutors" style="text-decoration: none; color: black;">
          <i class="fa-solid fa-cloud"></i>
          <strong style="font-size: 24px;">Tutor</strong>
        </a>
      </div>
      <div class=" d-flex flex-grow-1 justify-content-between">
        {{#if reqUser}}
        {{#if reqUser.dataValues.isAdmin}}
        <div>
          <a href="/admin" id="become-teacher-link" class="mx-1"
            style="text-decoration: none; color: black; font-size: 16px;">使用者清單</a>
        </div>
        {{else}}
        <div>
          {{#if tutor}}
          <a href="/tutors/{{tutor.id}}" id="name-link" class="mx-1 fw-bold"
            style="text-decoration: none; color: black; font-size: 16px;">{{tutor.name}}</a>
          {{else}}
          <a href="/users/{{reqUser.dataValues.id}}" id="name-link" class="mx-1 fw-bold"
            style="text-decoration: none; color: black; font-size: 16px;">{{reqUser.dataValues.name}}</a>
          {{/if}}
          <a href="/tutors/create" id="become-teacher-link" class="mx-1"
            style="text-decoration: none; color: black; font-size: 16px;">成為老師</a>
        </div>
        {{/if}}
        <div>
          <a href="/logout" id="logout-link" class="mx-3"
            style="text-decoration: none; color: black; font-size: 16px;">Logout</a>
        </div>
        {{else}}
        <div>
          <a href="/signup" class="mx-1"><button class="btn btn-info btn-sm">Sign Up</button></a>
          <a href="/signin" class="mx-1"><button class="btn btn-info btn-sm">Sign In</button></a>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>