<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="row mb-4">
        <div class="col-5">
          <img src="{{tutor.image}}" class="card-img-top" alt="...">
        </div>
        <div class="col-7 d-flex flex-column justify-content-end">
          <h2><strong>{{tutor.name}}</strong></h2>
          <strong><i class="fa-solid fa-heart me-2" style="color: #ee3211;"></i>{{averageScore}}</strong>
        </div>
      </div>
      <div>
        <p class="mb-2"><strong class="mb-3">Introduction</strong></p>
        <div class="mb-4" style="word-wrap: break-word;">
          {{tutor.introduction}}
        </div>
        <p class="mb-2"><strong class="mb-3">Teching Style</strong></p>
        <div class="mb-4" style="word-wrap: break-word;">
          {{tutor.style}}
        </div>
        <p class="mb-2"><strong class="mb-3">Lesson History</strong></p>
        {{#each highestComment}}
        <div class="d-flex align-items-center">
          <p class="fw-bold bg-warning bg-opacity-75 p-1">{{this.score}}</p>
          <p class="mx-2 d-flex flex-wrap">{{this.comment}}</p>
        </div>
        {{/each}}
        {{#each lowestComment}}
        <div class="d-flex align-items-center">
          <p class="fw-bold bg-warning bg-opacity-75 p-1">{{this.score}}</p>
          <p class="fw-bold mx-2">{{this.User.name}}</p>
          <p class="mx-2 d-flex flex-wrap">{{this.comment}}</p>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-4">
      {{#ifEqual reqUser.dataValues.isTeacher false}}
      <form action="/courses/{{tutor.id}}" method="POST">
        <div class="form-label  p-2 mb-4 bg-secondary bg-opacity-50" for="time"><strong>
            預約上課
          </strong></div>
        <select class="form-select" id="time" name="time">
          {{#each times}}
          <option value="{{toJSON this}}">{{this.date}} ({{this.dayOfWeek}}) {{this.startTime}}-{{this.endTime}}
          </option>
          {{/each}}
        </select>
        <div class="mt-4 text-end">
          <button type="submit" class="btn btn-primary">Summit</button>
        </div>
      </form>
      {{/ifEqual}}
    </div>
  </div>
</div>